@import '../variables.scss';

.modal {
  .modal-inside-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    
    .modal-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($pale-blue, 0.7);
      transition: 200ms ease-out;
      opacity: 0;
    }

    .modal-container{
      .modal-outside-content{
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -40%) scale(0.8);
        transition: all 200ms ease-out;
        width: 650px;
        max-width: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
        opacity: 0;
        
        .modal-title{
          background: #eee;
          padding: 10px 0;
          text-align: center;
          color: $midnight;
          position: relative;
 
          span{
            font-size: 20px;
            font-weight: bold;
          }

          i{
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
            cursor: pointer;
          }
        }

        .modal-content{
          padding: 45px 45px 60px 45px;
          overflow: hidden;
        }
      }

      .download{
        .modal-content {
          .generating, .generated{
            display: none;
            text-align: center;
  
            p {
              font-size: 20px;
              margin: 0;
            }
  
            span {
              color: #9b9b9b;
              font-weight: bold;
              display: block;
              margin: 10px 0px 20px 0;
            }

            .btn{
              width: 250px;
              height: 40px;
              display: block;
              margin: 20px auto 0 auto;
              text-align: center;
              line-height: 40px;
              border-radius: 8px;
              background: green;
              color: #fff;

              &:hover {
                background: darken(green, 5%);
              }
            }
          }
  
          &[generatestatus="generating"]{
            .generating{
              display: block;
            }
          }
  
          &[generatestatus="generated"] {
            .generated {
              display: block;
            }
          }
        }
      }
    }
  }

  &[active="true"] {
    .modal-inside-container{
      visibility: visible;

      .modal-background {
        opacity: 1;
      }

      .modal-container{
        .modal-outside-content{
          opacity: 1!important;
          transform: translate(-50%, -50%) scale(1)!important;
        }
      }
    }
  }
}

