@import '../variables.scss';
@import '../functions.scss';


.not_found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  color: #979797;
}

.create-resume {
  .create-resume-container {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap:  nowrap;
    background-color: #eeeeee;
    // background-image: url("https://www.transparenttextures.com/patterns/connected.png");
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    min-height: -webkit-calc(100vh - 60px);
    min-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
    overflow: hidden;

    .left-panel {
      flex:0 0 400px;
      max-width: 400px;
      background: #fff;
      box-shadow: 0 0 5px 1px rgba($midnight, 0.1);
      position: relative;

      .left-panel-container {
        @include x4('padding');

        .panel-title {
          @include x3('padding-bottom');
          @include x3('margin-bottom');
          border-bottom: 1px solid #eee;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          
          i {
            color: $orange;
            font-size: 26px;
          }

          strong {
            color: #333;
            font-size: 18px;
            @include x3('margin-left');
          }
        }

        .panel-content {
          width: 100%;
          .search{
            width: 100%;
            margin-bottom: 30px;

            input{
              border: none;
              background: none;
              outline: none;
              border-bottom: 2px solid #ddd;
              height: 35px;
              width: 100%;
              transition: 200ms ease-in-out;

              &:focus {
                border-color: $midnight;
              }
            }
          }

          .fields {
            .field-group {
              .field-group-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 13px;
                background: #eee;
                padding: 4px 10px;
                border-radius: 4px;
                cursor: pointer;
                font-weight: bold;
              }

              .field-group-items {
                margin-top: 10px;

                .field {
                  padding:12px 20px;
                  cursor: move;
                  font-size: 16px;
                  border-radius: 4px;

                  &.active {
                    background: lightblue!important;
                    border-color: lightblue!important;
                  }

                  &:hover {
                    background: #eee;
                  }
                  
                  &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                  }
                }
              }

              &[data-passive="true"] {
                .field-group-items {
                  display: none;
                }
              }

              &:not(:first-child) {
                margin-top: 20px;
              }
            }
          }
        }
      
      }
    }

    .content {
      flex: auto;
      max-width: 100%;
      position: relative;
      
      .resume-area {
        width: 100%;
        @include x10('padding');
        overflow-y: auto;
        overflow-x:auto;
        height: 100%;
        position: relative;

        .resume-content {
          .resume {
            position: relative;

            .g-resume-container{
              .pages{
                .page{
                  .page-inside-container{
                    position: relative;

                    .page-number{
                      position: absolute;
                      right: -85px;
                      top: 50%;
                      transform: translateY(-50%) rotate(90deg);
                      color: #9b9b9b;
                      font-weight: bold;

                      span {
                        margin: 0 10px;
                      }
                    }
                  }

                  .page-actions {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #9b9b9b;
                    margin: 20px auto 30px auto;
                    cursor: pointer;
                    text-align: center;
                    font-weight: bold;
                    transition: 200ms ease-in-out;
                    font-size: 14px;

                    .action-item {
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      flex-wrap: nowrap;

                      i {
                        margin-right: 5px;
                      }

                      &:hover {
                        &.add { color: green; }
                        &.remove { color: $red }
                      }
                    }

                    .seperator {
                      margin: 0 6px;
                    }
                  }

                  .add-new-page {
                    color: #9b9b9b;
                    display: block;
                    margin: 20px auto 30px auto;
                    cursor: pointer;
                    text-align: center;
                    font-weight: bold;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    transition: 200ms ease-in-out;
                  
                    span {
                      margin: 0 15px;
                      flex:0 0 150px;
                      max-width: 150px;
                    }
                  
                    hr {
                      flex: auto;
                      max-width: 100%;
                      border-style: dashed;
                    }
                  
                    &:hover {
                      color: #ba5b5b;
                    }
                  }
                  
                  &:not(:first-child) {
                    margin-top: 100px;
                  }
                }
              }
            }

            .field-line {
              position: absolute;
              transition: 200ms ease-out;

              .field-line-container {
                .lines {
                  position: absolute;
                  left:0;
                  top:0;
                  width: 100%;
                  height: 100%;
                  border: 3px dotted green;
                  z-index: 0;
                  padding: 15px;
                  box-sizing: content-box;
                  transform: translate(-15px, -15px);
                  cursor: move;
                  display: none;

                  span {
                    position: absolute;
                    background: darkgreen;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;

                    &:nth-child(1) {
                      left: 0;
                      top:0;
                      transform: translate(-50%, -50%);
                    }

                    &:nth-child(2) {
                      right: 0;
                      top: 0;
                      transform: translate(50%, -50%);
                    }
                    &:nth-child(3) {
                      left:0;
                      bottom: 0;
                      transform: translate(-50%, 50%);
                    }
                    &:nth-child(4) {
                      right: 0;
                      bottom: 0;
                      transform: translate(50%, 50%);
                    }
                  }
                }

                .field-content{
                  position: relative;
                  z-index: 1;
                }
              }

              &[data-field-active="true"] {
                .field-line-container {
                  .lines {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }

      .builder-menu {
        position: absolute;
        width: 260px;
        height: 40px;

        .builder-menu-content {
          display: flex;
          align-items: stretch;
          height: 100%;
          padding:0 10px;

          button, .from-pc, .url-box-text {
            height: 100%;
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
            color: #fff;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #00b894;
            font-size: 12px;
            flex: auto;
            max-width: 100%;

            &:not(:last-child) {
              border-right: 1px solid #fff;
            }

            &:nth-child(1){
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
            }

            &:last-child {
              flex: 0 0 45px;
              max-width: 45px;
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;

              i {
                font-size: 20px;
              }
            }

            &:hover {
              background: darken(#00b894, 5%);
              color: #fff;
            }
          }

          .upload-image {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            text-align: center;

            .from-pc {
              overflow: hidden;
              position: relative;
              flex: auto;
              max-width: 100%;
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
              padding: 0 5px;
              border-right: 1px solid #fff;
              flex: auto;
              max-width: 100%;

              input {
                opacity: 0;
                position: absolute;
                cursor: pointer;
                width: 100%;
                height: 100%;
              }

              strong {
                font-size: 12px;
                height: 100%;
                cursor: pointer;
              }
            }

            .from-url {
              flex: auto;
              max-width: 100%;
              position: relative;

              .url-box-text {
                padding:0 5px;
                border-radius: 0;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .url-box {
                display: none;
                position: absolute;
                left:0;
                top: 42px;
                width: 250px;
                padding: 10px;
                background-color: #00b894;

                input {
                  width: 100%;
                  border: none;
                  outline: none;
                  height: 28px;
                  padding:0 6px;
                }

                button {
                  width: 100%;
                  display: block;
                  background-color: $midnight;
                  flex: auto;
                  max-width: 100%;
                  height: 30px;
                  margin-top: 8px;
                  cursor: pointer;
                  border-radius: 25px;
                }

                &.active {
                  display: block;
                }
              }
            }
          }
        }
      }
      
      .bottom-bar {
        position: absolute;
        bottom: 0;
        left:0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include x7('padding-left');
        @include x5('padding-bottom');

        .zoomer {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background: $midnight;
          color: #fff;
          @include x3('padding');
          @include x2('border-radius');
          position: fixed;
          bottom: 40px;
          left: 350px;
          transition: 200ms ease-in-out;
          transform:scale(0);
          opacity: 0;

          
          i:nth-of-type(1) {
            position: relative;
            @include x4('margin-right');
            
            &:after {
              content: '|';
              display: block;
              position: absolute;
              right: -12px;
              top: -2px;
            }
          }

          span{
            @include x2('margin-left');
            @include x2('margin-right');
          }

          i.cursor {
          }
        }

        .color-mode {

        }
      }

      &:hover {
        .bottom-bar {
          .zoomer {
            transform:scale(1);
            opacity: 1;
          }
        }
      }
    }

    .right-panel {
      flex:0 0 400px;
      max-width: 400px;
      background: #fff;
      box-shadow: 0 0 5px 1px rgba($midnight, 0.1);
      position: relative;
      
      .right-panel-container {
        @include x4('padding');
        padding-top: 8px;

        .tabs {
          ul {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;

            li {
              flex: 0 0 50%;
              max-width: 50%;
              padding: 10px 15px;
              text-align: center;
              cursor: pointer;
              transition: 100ms ease-out;

              &:hover {
                background: #eee;;
              }
            }
          }

          .line {
            background: $red;
            width: 50%;
            max-width: 50%;
            height: 2px;
            display: block;
            transition: 100ms ease-in-out;

            &[data-menu="template-style"] {
              transform: translateX(100%);
            }
          }
        }

        .right-panel-content {
          margin-top: 20px;

          .subgroup {
            .title {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 13px;
              background: #eee;
              padding: 4px 10px;
              border-radius: 4px;
              cursor: pointer;
              
              span {
                font-weight: bold;
              }

              i {
                font-size: 30px;
              }
            }

            .subgroup-content {
              padding-top: 15px;

              .panel-group {
                &:not(:last-child) {
                  margin-bottom: 30px;
                }

                .panel-title {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  border-bottom: 1px solid #eee;
                  padding-bottom:5px;
                  margin-bottom: 12px;
                  color: $midnight;

                  strong {

                  }
                  
                  i {
                    color: $orange;
                    margin-right: 8px;
                  }
                }
              }

              .panel-item {
                .panel-item-title {
                  @include x3('padding-bottom');
                  @include x3('margin-bottom');
                  border-bottom: 1px solid #eee;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  
                  i {
                    color: $orange;
                    font-size: 26px;
                  }
      
                  strong {
                    font-size: 18px;
                    color: #333;
                    @include x3('margin-left');
                  }
                }
      
                .panel-item-content{
                  .label {
                    font-size: 13px;
                  }
                }

                &[name="colorPicker"]{
                  .panel-item-content {
                    .color-picker {
                      &.inline {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                      }
                      
                      .label {
                        font-size: 13px;
                      }
                    
                      .box {
                        position: relative;
                    
                        .box-area {
                          display: block;
                          width: 20px;
                          height: 20px;
                          border-radius:4px;
                          box-shadow: 0 0 3px 0 rgba($midnight, 0.3);
                          cursor: pointer;
                    
                          &:hover {
                            box-shadow: 0 0 6px 0 rgba($midnight, 0.3);
                          }
                        }
                    
                        .color-picker-box {
                          z-index: 2;
                          position: absolute;
                          top: 30px;
                    
                          &[data-position="right"] {
                            right: 0;
                          }
                    
                          &[data-position="left"] {
                            left: 0;
                          }
                        }
                      }
                    }
                  }
                }

                &[name="bold/italic/strikethrough"],
                &[name="alignment"] {
                  .panel-item-content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    flex-wrap: nowrap;

                    .boxes {
                      display: flex;
                      align-items: stretch;
                      justify-content: flex-end;
  
                      .box {
                        max-width: 25px;
                        flex: 0 0 25px;
                        height: 25px;
                        border-radius:4px;
                        box-shadow: 0 0 3px 0 rgba($midnight, 0.3);
                        cursor: pointer;
                        background: #eee;
                        text-align: center;
                        line-height: 25px;
                        transition: 100ms ease-out all;
  
                        i {
                          font-size: 16px;
                        }
  
                        &.active {
                          background-color: $red;
                          color: #fff;
                        }
  
                        &:not(:last-child) {
                          margin-right: 8px;
                          font-weight: bold;
                        }
  
                        &:hover {
                          box-shadow: 0 0 6px 0 rgba($midnight, 0.3);
                        }
                      }
                    }
                  }
                }
              
                &:not(:last-child) {
                  @include x3('margin-bottom');
                }
              }
            }
          }
        }
      }

      .right-panel-bottom {
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        @include x4('padding');

        .download-btn {
          width: 100%;

          i {
            @include x4('margin-right');
          }
        }
      }
    }
  }
}