
.g-resume-container {
  transition: 200ms ease;
  transform-origin: top;
  margin: 0px auto;
}

.page {
}

.page .page-content {
  width: 8.27in;
  height: 11.7in;
  background: #fff;
  transition: 200ms ease-out;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(89,78,89,0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(89,78,89,0.3);
  box-shadow: 0px 0px 3px 1px rgba(89,78,89,0.3);
  overflow: hidden;
  position: relative;
  font-family: 'Roboto';

  textarea, input{
    background: none;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    flex: auto;
  }
}

.templates.renderPDF {
  .g-resume-container {
    .page {
      margin:0!important;
      border:0!important;
      box-shadow: none!important;

      .page-content {
        border:0!important;
        box-shadow: none!important;
      }
    }
  }
}

.resume-field {
  &[type="jbt_image"] {
    .empty-image-field {
      width: 175px;
      height: 175px;
      background-color: #eee;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap:nowrap;
      cursor: pointer;

      div {
        color: #ccc;
        text-align: center;

        i{
          font-size: 45px;
        }

        span{
          display: block;
          font-size: 20px;
          margin-top: 10px;
        }
      }
    }
  }
}